body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}

.nav-link{
    color: grey;
    text-decoration: none;
}

.egesz{
    text-align: center;
    margin: 10%;
}